body    {
    background-color: darkgrey;
}

h1  {
    background-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(116, 110, 110);
    text-align: center;
}

footer {
    background-color: azure;
}

footer p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 5px;
}